<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
    <title>Gallery App</title>
    <link rel="stylesheet" href="app.css" type="text/css">
  </head>
  
  <body>
    <div class="header">
      <div class="imhold"><img alt="lo" id="poster" class="logiIm" src='/logo.png'></div>
        <div class="navhold">
        <div class="topnav">
        <a href="/">Home</a>
        <a href="/add">Contact Us</a>
        <a href="/contacts">Show Contacts</a>
        </div>
      </div>
    </div>