<!DOCTYPE html>
<html>
  <head>
   <meta charset="UTF-8">
    <title>Gallery App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Beth+Ellen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../app.css" type="text/css">
  </head>
  
  <body>
    <header>
    <div class="topwrap">
        <div id="logo">
           <img alt="logo"  src='/logo.png'>
        </div>
        <div class="topnav">
            <a href="/">Home</a>
            <a href="/products">Art Display</a>
            <a href="/about">Review</a>
            <a href="/add">Contact Us</a>
           
        </div>
     
    </div>
    </header>