<% include ../partials/header %>


<div class="row">
            <div class="holder">
    
                  <div class="front">
                  <h1>Welcome to galley studio</h1>
                  <h2>Accessories</h2>
            </div>
        
    

    </div>



<% include ../partials/footer %>

