<% include ../partials/header %>

 
<div class="rowfront">
           
    <div class="front">
                <div class="backcolor">
                  <h1>Welcome to galley studio</h1>
                  <h2>Your Arts display place</h2>
                 </div>
                </div>
               
        
    </div>

 



<% include ../partials/footer %>

